language: java

jdk:
  - oraclejdk8

services:
  - mysql

before_install:
  - mysql -e 'CREATE DATABASE db_example;'
  - mysql -e "create user 'spring'@'localhost' identified by 'password'"
  - mysql -e "grant all on db_example.* to 'spring'@'localhost' identified by 'password'"

cache:
  directories:
    - $HOME/.m2

notifications:
email: false